# MongoDB Connection string
# Format: mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbName>
DATABASE_URL="mongodb+srv://kunal_salon:kunal2001@cluster0.jzwxzx4.mongodb.net/"

PORT=5000
JWT_SECRET="sbhsbhdbds4s54d5s4d"
